.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child {
  font-weight: 500;
}

.ant-menu-light
  > .ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: #ffbc00;
  color: #ffffff;
  /* font-weight: 500; */
  border-bottom: 3px solid #ffffff;
}

.ant-steps-item-icon {
  box-shadow: rgb(149 157 165 / 13%) -1px 6px 16px;
  background-color: #fffad5;
}

.ant-menu-dark
  > .ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: #ffbc00;
  color: #ffffff;
  font-weight: 500;
  border-bottom: 3px solid #ffffff;
}

/* moves all modals to the right of the screen */

/* .ant-modal {
  margin-left: auto !important;
  margin-right: 0;
  margin: unset;
} */
